body {
    font-family: Arial, sans-serif;
    background-color: #F2F2F2;
    /*overflow: hidden;*/
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #594736;
    color: #F2F2F2;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: #F2F2F2;
    margin: 0 15px;
    text-decoration: none;
}

#main{
    padding: 30px;
    width: 100%;
    display: flex;
 }

 #left_box{
     width: calc(100% * 0.65);
     margin: 10px;
}

 #right_box{
     margin: 10px;
     width: calc(100% * 0.30);
     border: 1px solid #8C8579;
     max-height: 100vh;
     overflow-y: auto;
     overflow-x: hidden;


}

#canvas-container{
    width: 100%;
    height: 550px;
    overflow: auto;
    border: 1px solid #8C8579;
}






















.accordion {
  background-color: #D1D1D1;

  color: black;
  cursor: pointer;
  padding: 16px;
  width: 100%;
  text-align: left;
  font-size: 16px;
  transition: 0.3s;
}

/*coleur de la section quand le menu est ouvert*/
.active, .accordion:hover {
  /*background-color: #242424;*/
  font-weight: bold;
  color: black;
}

/* Style the accordion panel. Note: hidden by default */
/*concerne l'interieur des sections*/
.panel {
  padding: 0 30px;
  background-color: white;
  display: none;
  overflow: hidden;
}

/*met le signe +*/
.accordion:after {
  content: '\25B6';
  /*font-size: 1px;*/
  color: black;
  float: right;
  margin-left: 5px;
}

/*met le signe - */
.active:after {
  content: "\25BC";
}










.project_card {
     width: 200px;
    height: 150px;
    background: red;
    text-align: center;
    }





.thumbnail-container {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thumbnail-container:hover .overlay {
    opacity: 1;
}

.btn {
    background-color: #D9B68B;
    color: #59402A;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    margin: 20px;
}

.btn:hover {
    background-color: #59402A;
    color:#D9B68B;
}

.tabcontent{
    display: none;
}

.feedbackButton{
    float: right;
}











/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}






