{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div style="margin: 18%;margin-top:30px ">
        <p>
            This project is being carried out as part of a master's degree in computer science at UCLouvain and uses the PARDONS project as a case study.
            This platform prototype aims to accelerate the processing of historical texts, improve accuracy through consensus mechanisms, and enhance accessibility to ancient knowledge.
        </p>

        Transcribing a document is divided into several steps:
        <ol>

            <li>The actual labelling and transcription stage :<br>
                Labelling documents line by line helps to divide up the work and can also provide useful data that can be used to train an artificial intelligence model (LLM) to create a model for transcribing ancient documents.
            </li>

            <li>One (or more) verification steps :<br>To check the previously made transcription. At the moment, a person can check their own transcription for testing purposes only.
            </li>
        </ol>

        There is also a forum system for exchanging ideas and providing feedback between users. A forum can be opened for a document or for a particular rectangle.
        <br><br>
        Contact details: jeremy.sidgwick@student.uclouvain.be
        Jeremy Sidgwick, student in a Master 2 in Computer sciences at UcLouvain.
    </div>
{% endblock %}