{% extends 'base.html' %}


{% block content %}
<div id="left_box">

    <div id="canvas-container">
        <canvas id="canvas"></canvas>
    </div>

{#    {% include "local/module_zoom.html" %}#}

</div>

<div id="right_box">
    {#    TODO check un bouton dans un a ? #}
     <a href="{% url 'export_data' type='document' id=doc_id %}">
        <button>Exporter les données (CSV) </button>
    </a>


    {% if general_forum != "" %}
    <a target="_blank" href="{% url 'user-post' type='d' id=general_forum %}" class="feedbackButton">Voir le forum de ce document</a>
    {% endif %}
    {% for rectangle in transcription_data %}
        <br>

        {# TODO a nettoyer#}
{#        {{ rectangle.forum }}#}

        {% for subtask in rectangle.subtasks %}
            {% if forloop.last %}
                <button name="rect_{{rectangle.rectangle_id}}"  onclick="buttonclick(this)" class="accordion">{{ subtask.text }}</button>
            {% endif %}
        {% endfor %}
        <div class="panel">
            {% if rectangle.forum != '' %}
                <a target="_blank" href="{% url 'user-post' type='r' id=rectangle.forum %}" class="feedbackButton">Voir le forum sur ce ligne</a>
            {% endif %}
            <p>Historique des propositions:</p>
            {% for subtask in rectangle.subtasks %}
                <p>{{ subtask.text}}</p>
            {% endfor %}
        </div>
    {% endfor %}
</div>

<script>
    const canvas = new fabric.Canvas('canvas');
    var rectangles = [];  // Array to store all rectangle coordinates
    var image;

    // Load the background image
    fabric.FabricImage.fromURL("{{ image.url }}").then(function (img) {
        canvas.backgroundImage = img;
        img.canvas = canvas;
        canvas.setWidth(img.width);
        canvas.setHeight(img.height);
        canvas.requestRenderAll()
        {#img.set({ selectable: false });#}
        {#canvas.setBackgroundImage(img, canvas.renderAll.bind(canvas));#}
        {#image = img#}
        // Draw existing rectangles on the image
    });

    const existingRectangles = {{ rectangles|safe }};  // Get rectangles from Django
        existingRectangles.forEach(function(data) {
            const rect = new fabric.Rect({
                left: data.x,
                top: data.y,
                width: data.width,
                height: data.height,
                angle: data.angle,
                fill: 'rgba(0,0,255,0.1)',
                selectable: false,
                rectid: data.id,
                {#moved:false#}
                {#TODO check dans les autre fichier si c'est uile'#}
            });

            rect.on('mousedown', function(event) {
                console.log('Mousedown sur le rectangle !', event);
                this.set('fill', 'rgba(0,255,255,0.5)'); // Change la couleur au clic
                console.log(this)
                buttonclick(this)

                canvas.renderAll();
            });
            {#rect.on('mouseup', function(event) {#}
            {#    console.log('Mouseup sur le rectangle !', event);#}
            {#    this.set('fill', 'rgba(0,0,255,0.1)'); // Change la couleur au clic#}
            {#    canvas.renderAll();#}


            canvas.add(rect);
            {#rectangles.push(rect);#}
        });


    var acc = document.getElementsByClassName("accordion");
    let previousClick = null;
    for (let i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
        if(previousClick!=null && previousClick!==this) {
            previousClick.classList.toggle("active",force=false);
            previousClick.nextElementSibling.style.display = "none";
        }
        previousClick = this;

        this.classList.toggle("active");
        var panel = this.nextElementSibling;
          if (panel.style.display === "block") {
          panel.style.display = "none";
        } else {
          panel.style.display = "block";
        }
      });
    }

    canvas.on('mouse:down', function (opt) {
        var evt = opt.e;
        if (evt.altKey === true) {
            this.isDragging = true;
            this.selection = false;
            this.lastPosX = evt.clientX;
            this.lastPosY = evt.clientY;
        }
    });

    canvas.on('mouse:down', function (opt) {
            var evt = opt.e;
            if (evt.altKey === true) {
                this.isDragging = true;
                this.selection = false;
                this.lastPosX = evt.clientX;
                this.lastPosY = evt.clientY;
            }
        });
        canvas.on('mouse:move', function (opt) {
            if (this.isDragging) {
                var e = opt.e;
                var vpt = this.viewportTransform;
                vpt[4] += e.clientX - this.lastPosX;
                vpt[5] += e.clientY - this.lastPosY;
                this.requestRenderAll();
                this.lastPosX = e.clientX;
                this.lastPosY = e.clientY;
            }
        });
        canvas.on('mouse:up', function (opt) {
            // on mouse up we want to recalculate new interaction
            // for all objects, so we call setViewportTransform
            this.setViewportTransform(this.viewportTransform);
            this.isDragging = false;
            this.selection = true;
        });


        canvas.on('mouse:wheel', function (opt) {
                var evt = opt.e;

                var delta = opt.e.deltaY;
                var zoom = canvas.getZoom();
                console.log(zoom)
                zoom *= 0.999 ** delta;
                if (zoom > 5) zoom = 5;
                if (zoom < 0.1) zoom = 0.1;
                canvas.zoomToPoint({x: opt.e.offsetX, y: opt.e.offsetY}, zoom);
                opt.e.preventDefault();
            }
        );


    </script>
{% endblock %}