{% extends 'base.html' %}

{% block content %}
    <div id="left_box">

        <div id="canvas-container">
            <canvas id="canvas"></canvas>
        </div>
    </div>

    <div id="right_box">
        {#    TODO check un bouton dans un a ? #}
        <a class='btn' href="{% url 'export_data' type='document' export="csv" id=doc_id %}">
            Export data (csv)
        </a>
        <a class="btn" href="{% url 'export_data' type='document' export="txt" id=doc_id %}">
            Export text (txt)
        </a>

        {% if general_forum != "" %}
            <a target="_blank" href="{% url 'user-post' type='d' id=general_forum %}" class="feedbackButton">Voir le forum de ce document</a>
        {% endif %}
        {% for rectangle in transcription_data %}
            <br>
            {# TODO a nettoyer#}
            {#        {{ rectangle.forum }}#}

            {% for subtask in rectangle.subtasks %}
                {% if forloop.last %}
                    <button name="rect_{{rectangle.rectangle_id}}" onclick="buttonclick(this)" class="accordion">{{ subtask.text }}</button>
                {% endif %}
            {% endfor %}
            <div class="panel">
                {% if rectangle.forum != '' %}
                    <a target="_blank" href="{% url 'user-post' type='r' id=rectangle.forum %}" class="feedbackButton">Voir le forum sur ce ligne</a>
                {% endif %}
                <p>Historique des propositions:</p>
                {% for subtask in rectangle.subtasks %}
                    <p>{{ subtask.text}}</p>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    <script>
        const canvas = new fabric.Canvas('canvas');
        var rectangles = [];  // Array to store all rectangle coordinates
        var image;

        // Load the background image
        fabric.FabricImage.fromURL("{{ image.url }}").then(function (img) {
            canvas.backgroundImage = img;
            img.canvas = canvas;
            canvas.setWidth(img.width);
            canvas.setHeight(img.height);
            const canvasContainer = document.getElementById('canvas-container');
            const height = canvasContainer.clientHeight;

            canvas.zoomToPoint({x: 0, y: 0}, height/img.height);
            canvas.requestRenderAll()
        });

        // Draw existing rectangles on the image
        const existingRectangles = {{ rectangles|safe }};  // Get rectangles from Django
        existingRectangles.forEach(function(data) {
            const rect = new fabric.Rect({
                left: data.x,
                top: data.y,
                width: data.width,
                height: data.height,
                angle: data.angle,
                fill: 'rgba(0,0,255,0.1)',
                selectable: false,
                rectid: data.id,
                {#TODO check dans les autre fichier si c'est uile'#}
            });

            {#rect.on('mousedown', function(event) {#}
            {#    console.log('Mousedown sur le rectangle !', event);#}
            {#    this.set('fill', 'rgba(0,255,255,0.5)'); // Change la couleur au clic#}
            {#    buttonclick(this)#}
            {##}
            {#    canvas.renderAll();#}
            {# }); #}

            canvas.add(rect);
        });


        var acc = document.getElementsByClassName("accordion");
        let previousClick = null;
        for (let i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function() {
                if(previousClick!=null && previousClick!==this) {
                    previousClick.classList.toggle("active",force=false);
                    previousClick.nextElementSibling.style.display = "none";
                }
                previousClick = this;

                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }

    </script>
    <script src="../../static/canvas_control.js"></script>
{% endblock %}