{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div style="margin: auto;width: 65%">

        <h1>Help page</h1>


        <h2>Navigation on the image</h2>
        <p>To navigate around the image, use the mouse wheel to zoom in and out. <br>To move: hold down the left mouse button outside a rectangle.</p>

        <h2>How to make the transcription</h2>
        <ol>
            <li>Create your first rectangle by clicking on the ‘add new rectangle’ button at the bottom left.</li>
            <li>Adjust its position, size and inclination to match the line of text as closely as possible.</li>
            <li>Once the first rectangle is correctly positioned, duplicate it by clicking on the icon at the top left of the rectangle.</li>
            <li>Adjust the rectangle and repeat the process for each line.</li>
            <li>Once the lines have been labelled, click on the ‘save rectangles’ button at the bottom left of the page.</li>
            <li>Transcribe each line into the corresponding text box on the right-hand side of the page.</li>
            <li>Click on the ‘save progress’ button to save the progress or on ‘submit to verification’ to complete the transcription.</li>
        </ol>

        <iframe width="720" height="360" src="https://www.youtube.com/embed/aq-J-yl0LEo" allowfullscreen></iframe>


        <h2>How to make the verification</h2>
        <p>For verification, the verifier can take four actions for each rectangle:</p>
        <ul>
            <li><strong>Do nothing</strong>: this means that the transcription is accepted. The rectangle will be validated and can no longer be modified.</li>
            <li><strong>Delete the rectangle</strong>: by clicking on the bin icon, the rectangle can be permanently deleted if it does not correspond to a line.</li>
            <li><strong>Modify the text</strong>: by clicking on the pencil icon, the checker can suggest another transcription. This step will involve an additional verification step.</li>
            <li><strong>Access the forum</strong>: by clicking on the blue icon, the user can access or create a forum linked to this rectangle or document.</li>
        </ul>

        <p>The checker can save their progress, complete the check to finish the task, or send the document back to the transcription stage if the work produced is not satisfactory.</p>

    </div>





{% endblock %}