{% extends 'base.html' %}

{% block content %}
    <div style="margin:30px">
        <div style="display: flex; width: 100%; height: 30vh"  >

            {% for project in projects %}
                <a style="font-size: 1.1em; height: 80px;width: 180px; text-align: center" class="btn" href="/project/{{ project.id }}">Projet: {{ project.name }}</a>
            {% endfor %}
        </div>
        <br>

        <div style="display: flex; width: 95%; height: 40vh"  >
            {% if request.user.is_superuser %}

                {% for project in hidden_projects %}
                    <a style="height: 100px;width: 100px; text-align: center" class="btn" href="/project/{{ project.id }}">{{ project.name|slice:"7:"  }}</a>
                {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock %}