{% extends "base.html" %}
{% load static %}
{% block content %}

    <div style="width: 50% ; margin: auto;text-align: justify">

        <h1>Sujet : {{ topic.title }}</h1>
        <div style="border: solid; border-width: 2px; border-radius: 15px;padding: 20px">

            <p>{{ topic.description }}</p>

            <p style="float: right"><i>Posted on {{ topic.date_created }} by {{ topic.author }}</i></p>
            <br>
            {% if image %}
                <div id="canvas-container" style="width: 900px;height: 400px">
                    <canvas id="canvas" ></canvas>
                </div>
            {% endif %}



        </div>

        <div style="width: 90%;margin: auto">
            {% if  answers.count > 0 %}
                <h2>{{ answers.count }} answer{{ answers|pluralize }} in this topic: </h2>
            {% else %}
                <h2>Be the first to answer in this topic!</h2>
            {% endif %}

            {% for answer in answers %}
                <div style="border: solid;border-width: 1px;padding: 10px;border-radius: 10px; margin-bottom: 10px">

                    <p>{{ answer.user|capfirst }} answered at {{ answer.date_created }}</p>
                    <p>{{ answer.content }}</p>

                    <div id="vote-section">{% include 'vote-section.html' %}</div>

                </div>
            {% endfor %}

            <form action="" method="POST">
                {% csrf_token %}
                {{ answer_form }}
                <input class="btn" type="submit" value="Post Answer">
            </form>
        </div>


    </div>
    <script type="application/json" id="rectangles-data">
        {{ rectangles_data|safe }}
    </script>

    <script>
        var canvas = new fabric.Canvas('canvas');
        var rectangles = [];  // Array to store all rectangle coordinates
        var image;
        // Load the background image
        fabric.FabricImage.fromURL("{{ image.url }}").then(function (img) {
            canvas.backgroundImage = img;
            img.canvas = canvas;

            canvas.setWidth(img.width);
            canvas.setHeight(img.height);
            const canvasContainer = document.getElementById('canvas-container');
            const width = canvasContainer.clientWidth;

            canvas.zoomToPoint({x: 0, y: 0}, width/img.width);
            canvas.requestRenderAll()
            // Draw existing rectangles on the image

            const existingRectangles = JSON.parse(document.getElementById('rectangles-data').textContent);

            existingRectangles.forEach(function(data) {
                const rect = new fabric.Rect({
                    left: data.x,
                    top: data.y,
                    width: data.width,
                    height: data.height,
                    angle: data.angle,
                    fill: 'rgba(0,0,255,0.1)',
                    selectable: false,
                    rectid: data.id
                });
                canvas.add(rect);
                rectangles.push(rect);
            });
        });







    </script>
    <script src="../../static/canvas_control.js"></script>
{% endblock content %}