{% extends "base.html" %}
{% load static %}
{% block content %}

    <div style="margin: auto;margin-top:30px">
        <h2>Post A New Topic</h2>

        {% if "/r/" in request.path %}
            <p style="font-size: 1.05em"> This post will be linked to the specific rectangle</p>
        {% else %}
            <p style="font-size: 1.05em">This post will be linked to the document</p>
        {% endif %}

        <form action="" method="POST" >
            {% csrf_token %}
            {{ form }}
            <input style="font-size: 1.05em" type="submit" value="Create topic">
        </form>
    </div>

{% endblock content %}