{% extends "base.html" %}
{% load static %}
{% block content %}

    <div style="margin:auto">
        <h2>User Dashboard</h2>

        <p>{{ user.username }} | Joined @ {{ user.date_joined|date }}</p>

        <div>
            {% if topic_count > 0 %}
                <h2>Topics You Created</h2>

                <table>
                    <thead>
                    <tr>
                        <th>Topic</th>
                        <th>Views</th>
                        <th>Answers</th>
                        <th>Post Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for post in topic_posted %}
                        <tr>
                            <th>
                                <a href="{% url 'topic-detail' post.id %}">{{ post.title }}</a>
                            </th>
                            <td>{{ post.topic_view_count }}</td>
                            <td>{{ post.answer_count }}</td>
                            <td>{{ post.date_created }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            {% else %}
                <h2>You didn't post a topic yet!</h2>
            {% endif %}
        </div>

        <div>
            {% if ans_count > 0 %}
                <h2>Others topics you participated</h2>

                <table>
                    <thead>
                    <tr>
                        <th>Topic</th>
                        <th>Views</th>
                        <th>Answers</th>
                        <th>Post Date</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for ans in ans_posted %}
                        <tr>
                            <th>
                                <a href="{% url 'topic-detail' ans.id %}">{{ ans.title }}</a>
                            </th>
                            <td>{{ ans.topic_view_count }}</td>
                            <td>{{ ans.answer_count }}</td>
                            <td>{{ ans.date_created }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            {% else %}
                <h2>You didn't answer in another topic yet!</h2>
            {% endif %}
        </div>

    </div>
{% endblock content %}