
<div style="display: flex">
    <form action="{% url 'upvote' %}" method="POST">
        {% csrf_token %}
        <button type="submit" id="upvote" name="answer_id" value="{{ answer.id }}" class="btn">
            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
            <span>Upvote</span>
            <span>{{ answer.upvotes.count }}</span>
        </button>
    </form>

    <form action="{% url 'downvote' %}" method="POST">
        {% csrf_token %}
        <button type="submit" id="downvote" name="answer_id" value="{{ answer.id }}" class="btn">
            <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
            <span>Downvote</span>
            <span>{{ answer.downvotes.count }}</span>
        </button>
    </form>
</div>

